* {
    padding: 0;
    margin: 0;
}

.ant-layout-header.cls-head {
    background: #f6f8fa;
    color: black;
    font-weight: 500;
    font-size: larger;
    border-bottom: 1px solid grey;
    letter-spacing: 0.5px;
}

.login-form {

    width: 350px;
    padding: 25px;
    background: white;

    box-shadow: 0px 2px 10px 4px #e9e5e5;
}

.reg-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}
.text-center {
    text-align: center;
}
.content-class {
    min-height: 465px;
}
.cursor-pointer{
    cursor: pointer;
}
.float-right{
    float: right;
}
.singleDiscussionCard {
    margin: 20px 0;
    background: white;
    border: 1px solid #979090;
}
.heading {
    font-size: 20px;
    font-style: oblique;
    font-weight: 500;
    padding: 10px 0;
}
.discussion-card-title {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: relative;
}
.disussion-card-author-title {
    font-weight: 500;
    color: grey;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.discussion-card-content {
    padding: 12px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.desc-cmnt {
    padding-left: 15px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: grey;
}
span.desc-title {
    font-size: 20px;
    letter-spacing: 0.5px;
    color: black;
    font-weight: 500;
}
.desc-content {
    padding: 10px 0;
    font-size: 16px;
    color: black;
    letter-spacing: 0.5px;
}
.singleDiscussionList {
    background: ghostwhite;
    border: 1px solid #979090;
    border-radius: 12px;
}
//mediaquery

/* Media query for small screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
    .content-class {
        min-height: 355px;
    }
}

/* Media query for medium screens (e.g., tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .content-class {
        min-height: 375px;
    }
}

/* Media query for larger screens (e.g., desktops) */
@media screen and (min-width: 1024px) {
    .content-class {
        min-height: 528px;
    }
}
